HELP.md
target/
.mvn/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
logs
*.iws
*.iml
*.ipr
.mvn
mvnw
*.cmd

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

echo mvnw >> .gitignore $ git rm --cached mvnw rm 'mvnw' $ git commit -m "Start ignoring mvnw"
echo mvnw.cmd >> .gitignore $ git rm --cached mvnw.cmd rm 'mvnw.cmd' $ git commit -m "Start ignoring mvnw.cmd"